In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('cars.csv')

In [4]:
print("categorical columns and their unique values:")

categorical columns and their unique values:

In [5]:
print("brand",df['brand'].nunique())

brand 32

In [6]:
print("fuel:",df['fuel'].nunique())

fuel: 4

In [7]:
print("owner:",df['owner'].nunique())

owner: 5

In [8]:
encoded_df = pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

In [9]:
print("dataframe after one-hot encoding with `drop_first=True`:")

dataframe after one-hot encoding with `drop_first=True`:

In [11]:
print(encoded_df.head())

     brand  km_driven  selling_price  fuel_Diesel  fuel_LPG  fuel_Petrol  \
0   Maruti     145500         450000         True     False        False
1    Skoda     120000         370000         True     False        False
2    Honda     140000         158000        False     False         True
3  Hyundai     127000         225000         True     False        False
4   Maruti     120000         130000        False     False         True

   owner_Fourth & Above Owner  owner_Second Owner  owner_Test Drive Car  \
0                       False               False                 False
1                       False                True                 False
2                       False               False                 False
3                       False               False                 False
4                       False               False                 False

   owner_Third Owner
0              False
1              False
2               True
3              False
4              False

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
X=df.drop(columns=['selling_price'])

In [16]:
y=df['selling_price']

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype=int)

In [19]:
columns_to_encode = ['fuel','owner']

In [20]:
X_train_encoded = ohe.fit_transform(X_train[columns_to_encode])

In [21]:
X_test_encoded = ohe.transform(X_test[columns_to_encode])

In [22]:
print("Shape of the encoded training data:", X_train_encoded.shape)

Shape of the encoded training data: (6502, 7)

In [23]:
print("\nFirst 5 rows of the encoded training data:\n", X_train_encoded[:5])

First 5 rows of the encoded training data:
 [[0 0 1 0 0 0 0]
 [0 0 1 0 1 0 0]
 [1 0 0 1 0 0 0]
 [1 0 0 0 1 0 0]
 [0 0 1 0 0 0 0]]

In [24]:
top_10_brands = df['brand'].value_counts().head(10).index.tolist()

In [25]:
df['brand_modified'] = df['brand'].apply(lambda x: x if x in top_10_brands else 'Other')

In [26]:
brand_dummies = pd.get_dummies(df['brand_modified'], prefix='brand', drop_first=True)

In [29]:
print(brand_dummies.head())

   brand_Ford  brand_Honda  brand_Hyundai  brand_Mahindra  brand_Maruti  \
0       False        False          False           False          True
1       False        False          False           False         False
2       False         True          False           False         False
3       False        False           True           False         False
4       False        False          False           False          True

   brand_Other  brand_Renault  brand_Tata  brand_Toyota  brand_Volkswagen
0        False          False       False         False             False
1         True          False       False         False             False
2        False          False       False         False             False
3        False          False       False         False             False
4        False          False       False         False             False